<div class="card" style="color: black !important; margin-top: 20px;">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <!-- put the user's avatar in erb below -->
        <%#= avatar %>
      </div>
      <div class="col-md-11 better-message-design">
        <p class="card-text">
          <span style="color: purple;"><%= message.user.name %></span> : <%= message.body %> <%#= message.timestamp %>

        </p>
      </div>
    </div>
  </div>
</div>
