d/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.socialive-wrapper{
  background-color:#F6F6F6;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  }

a {
  color: $gunmetal;
}

h2, h3, h4 {
  color: $gunmetal;
}

.home-wrapper {
  position: relative;
  background: $gray-light;
  padding: 10px 20px 20px 20px ;
}

#search-input-container {
  width: 100%;
  // padding: 28px 0 32px;
  border-bottom: 1px solid $white;
  background-color: transparent;
  margin-bottom: 20px;
}

#search-input {
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 72px;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0;
}
