.show-split{
  color: #b1b1b1;
}

.control-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#ticket-bought{
  background-color: $green;
  width: 110px;
  padding: 6px 3px 6px 3px;
  display: flex;
  justify-content: center;
}

#tickets-sold-out{
  background-color: $red;
  width: 66px;
  padding: 6px 3px 6px 3px;
  color: white;
  display: flex;
  justify-content: center;
}

#pre-livestream-questions{
  border: 1px solid $green;
}

#pre-livestream-questions th, td{
  padding: 5px;
}

#pre-livestream-questions td{
  border-left: 1px dashed $green;
}

#pre-livestream-questions tr{
  border-top: 1px dashed $green;
}

.ruby_fans_img_1 {
  position: absolute;
  bottom: 1px;
  right: 31px;
  width: 10px;
  height: 15px;
}

.ruby_fans_img_2 {
  position: absolute;
  bottom: 1px;
  right: 26px;
  width: 10px;
  height: 15px;
}

.ruby_fans_img_3 {
  position: absolute;
  bottom: 1px;
  right: 19px;
  width: 10px;
  height: 15px;
}

#inquiry-input .btn-primary{
  float: right;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-left-20 {
  margin-left: 20px;
}

.stats-elements{
  margin-bottom: 5px;
}

.pre-livestream-questions-container{
  max-height: 400px;
  overflow-y: auto;
}

.livestream-controls {
  display: flex;
  justify-content: center;
}

.btn-buy-ticket{
  background-color: #FECE84;
  border: none;
  width: 100%;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
}

#ticket-price-next-to-buy-ticket-btn{
  background: #E0FFEF;
  text-align: center;
}

.social-icons-right-side{
  float: right;
  margin-right: 48px;
}

.donation-form form{
  display: flex;
  align-items: baseline;
  // .form-control{
  //   width: 18%;
  //   border: none;
  //   height: 21px;
  //   position: absolute;
  //   bottom: 12px;
  //   right: 110px;
  //   border-radius: 0px;
  // }
  #donation_rubies_donated {
    flex-grow: 1;
    margin: 0 10px;
  }
  .btn-donate {
    flex-grow: 2;
    margin-left: 20px;
  }
}

// .donation-form{
//   .form-control::placeholder {
//     color: black;
//     font-size: 13px;
//   }
// }

// .btn-donate{
//   position: absolute;
//   bottom: 12px;
//   right: 52px;
//   padding: 0px 4px;
//   height: 19px;
//   font-size: 13px;
//   border-radius: 0px;
//   border: 0.5px solid #B7FFD4;
//   background: none;
// }

// #ruby-donate-positioning img{
//   position: absolute;
//   bottom: 15px;
//   right: 194px;
//   height: 14px;
// }


// this is the countdoun CSS

#countdown{
  width: 465px;
  height: 112px;
  text-align: center;
  margin: auto;
  padding: 24px 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown #tiles{
  position: relative;
  z-index: 1;
  box-sizing: inherit !important;
}

#countdown #tiles > span{
  width: 92px;
  max-width: 92px;
  font: bold 48px 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before{
  content:"";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%; left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after{
  content:"";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%; left: 0;
}

#countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: -10px;
}

#countdown .labels li{
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: $gunmetal;
  // text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}


