#ticket-bought{
  margin-top: 30px;
  background-color: $green;
  width: 110px;
  padding-left: 3px;
  padding-right: 3px;
}

#pre-livestream-questions{
  border: 1px solid $green;

}

#pre-livestream-questions th, td{
  padding: 5px;

}

#pre-livestream-questions td{
  border-left: 1px dashed $green;
}

#pre-livestream-questions tr{
  border-top: 1px dashed $green;
}

#inquiry-input .btn-primary{
  float: right;
}

.pre-livestream-questions-container{
  max-height: 400px;
  overflow-y: auto;
}

.livestream-controls {
  display: flex;
  justify-content: center;
}
