#ticket-bought{
  margin-top: 30px;
  background-color: $green;
  width: 110px;
  padding: 6px 3px 6px 3px;
  display: flex;
  justify-content: center;
}

#tickets-sold-out{
  margin-top: 30px;
  background-color: $red;
  width: 66px;
  padding: 6px 3px 6px 3px;
  color: white;
  display: flex;
  justify-content: center;
}

#pre-livestream-questions{
  border: 1px solid $green;
}

#pre-livestream-questions th, td{
  padding: 5px;
}

#pre-livestream-questions td{
  border-left: 1px dashed $green;
}

#pre-livestream-questions tr{
  border-top: 1px dashed $green;
}

.ruby_fans_img_1 {
  position: absolute;
  bottom: 1px;
  right: 31px;
  width: 10px;
  height: 15px;
}

.ruby_fans_img_2 {
  position: absolute;
  bottom: 1px;
  right: 26px;
  width: 10px;
  height: 15px;
}

.ruby_fans_img_3 {
  position: absolute;
  bottom: 1px;
  right: 19px;
  width: 10px;
  height: 15px;
}

#inquiry-input .btn-primary{
  float: right;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-left-20 {
  margin-left: 20px;
}

.stats-elements{
  margin-bottom: 5px;
}

.pre-livestream-questions-container{
  max-height: 400px;
  overflow-y: auto;
}

.livestream-controls {
  display: flex;
  justify-content: center;
}

.btn-buy-ticket{
  margin-top: 37px;
}

.social-icons-right-side{
  float: right;
  margin-right: 48px;
}

.donation-form{
  .form-control{
    width: 18%;
    border: none;
    height: 21px;
    position: absolute;
    bottom: 12px;
    right: 76px;
    border-radius: 0px;
  }
}

// .donation-form{
//   .form-control::placeholder {
//     color: black;
//     font-size: 13px;
//   }
// }

.btn-donate{
  position: absolute;
  bottom: 12px;
  right: 16px;
  padding: 0px 4px;
  height: 19px;
  font-size: 13px;
  border-radius: 0px;
  border: 0.5px solid #B7FFD4;
  background: none;
}

#ruby-donate-positioning img{
  position: absolute;
  bottom: 15px;
  right: 160px;
  height: 14px;
}
