.item-centered-on-page{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.margin-top-100-bottom-100{
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-top-100-bottom-100 td {
  margin-right: 30px;
}


#order-completion li{
  list-style-type: none;
}
