  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path("cinema.jpg") %>'); height: 490px;">
    <div class="banner-content">
    <p>Curated and interactive <span class="green">livestream.</span> Finally.</p>

      <div class="title">

        <div id="search-input-container"><form action="/livestreams"><input type="search" name="query" type="text"  value="" id="search-input" class="site-width" tabindex="1" autocomplete="off" autofocus=""></form></div>

      </div>
    </div>
</div>
