  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path("banner.jpg") %>');">
    <div class="banner-content">
      <div class="title">

        <div id="search-input-container"><form action="/livestreams"><input type="search" name="query" type="text" placeholder="Browse livestreams" value="" id="search-input" class="site-width" tabindex="1" autocomplete="off" autofocus=""></form></div>
        <p>Connect with the people you admire</p>
      </div>
    </div>
</div>
