<div class="donation-form">
  <%= simple_form_for [@livestream, @donation] do |f| %>
    <%= f.input :rubies_donated, required: true, placeholder: "50", label: false %>
    <%= f.button :submit, 'Donate', class: 'btn btn-primary btn-donate' %>
     <span id="ruby-donate-positioning" > <%= image_tag "ruby.svg" %></span>
  <% end %>

</div>
