  <div class="footer">
    <div class="container">
      <ul class="list-inline text-center">
        <li><i class="fa fa-instagram fa-2x icon-spacing" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook fa-2x icon-spacing" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter fa-2x icon-spacing" aria-hidden="true"></i></li>
      </ul>
    </div>

    <div class=" text-center">
        <p>Made with <span class="fa fa-heart-o" aria-hidden="true"></span> in London</p>

      <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        Socialive team
      </div>
    </div>

  </div>

