<% if @livestream.user.followers.last != nil %>
  <div class="text-center margin-top" id="new-follower">
    <h5 style="margin-bottom: 4px; color: $gunmetal;">Newest follower</h5>
    <% if @livestream.user.followers.last.profilepic != nil %>
          <%= cl_image_tag @livestream.user.followers.last.profilepic.path, class: "avatar" %>
    <% elsif @livestream.user.followers.last.facebook_picture_url != nil %>
      <%=  image_tag @livestream.user.followers.last.facebook_picture_url, class: "avatar" %>
    <% end %>
    <h5 style="margin-top: 3px; margin-bottom: 1px;"><%= @livestream.user.followers.last.first_name || 0 %></h5>
  </div>
<% end %>
