<!-- Newsletter code -->
<div class="text-center">
  <div class="padded">
    <h2>Get news froms us !</h2>
    <form action="#">
      <div class="form-group">
        <label for="your-email">Leave us your e-mail and get news from us</label>
      </div>
      <div class="form-inline">
        <input type="string" id="your-firstname" placeholder="name" class="newsletter-fields">
        <input type="email" id="your-email" placeholder="email" class="newsletter-fields">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-newsletter" data-wait="Please wait...">
      </div>
    </form>
  </div>
</div>
