




<!--


<div id="textchat">
     <p id="history"></p>
     <form>
          <input type="text" placeholder="Input your text here" id="msgTxt"></input>
     </form>
          <button id="sendTxt" type="submit" class="btn btn-blue btn-padding btn-padding-small ctaarrow-white ctaarrow-white-small">Send</button>
</div>
 -->
