<div class="item-centered-on-page">
 <div class="margin-top-100-bottom-100">
      <ul id="order-completion">
        <li>Status: <%= @order.state %></li>
        <li>Item: <%= @order.rubies %> Rubies</li>
        <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
      <ul>
  </div>
</div>
