<h1>This is to become a livestreamer on socialive</h1>

<div class="dashboard-wrapper">

  <div class="dashboard-content">

    <div id="myprofile" class="tabcontent">
    <%= render 'shared/become_a_livestreamer' %>
    </div>

  </div>
</div>
