<div class="dashboard-wrapper">

  <div class="tabs">
    <a class="tab active" href="#">
      <h3>My Profile</h3>
    </a>
    <a class="tab" href="#">
      <h3>My Streams</h3>
    </a>
    <a class="tab" href="#">
      <h3>My Messages</h3>
    </a>
  </div>

  <div class="dashboard-content">
  <%= render 'shared/profile-form' %>
  <#% render 'shared/profile' %>
  <#% render 'shared/profile' %>
  </div>
</div>
