.wrapper-margin {
  margin-left: auto;
  margin-right: auto;
}

.card-squares-square-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-square {
  margin: 20px;
  color: $gray;
  height: 330px;
  border-radius: 3px;
  position: relative;
  padding: 0;
  background-color: white;
  border: 0.5px solid $gray-medium;
}

.card-square-image {
  background-size: cover !important;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: ease-in-out, opacity .5s ease-in-out;
}

// .card-square-status-badge {
//   position: absolute;
//   top: -5px;
//   left: -5px;
//   background-color: $white;
//   border-radius: 15px;
//   text-align: center;
//   color: $gunmetal;
//   width: 30px;
//   height: 30px;
//   padding-top: 5px;
//   padding-right: 2px;
//   font-weight: 100;
// }

.card-square-title {
  margin: 10px auto;
  position: absolute;
  left: 10px;
  bottom: 12px;
  text-align: center;
}

.card-square-title img {
  width: 150px;
}

.card-square-date {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: $white;
}

.card-square-info {
  color: $gray;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  position: absolute;
  top: 107px;
  transition: ease-in-out, top .5s ease-in-out;
}

.card-square-info p {
  opacity: 0;
  transition: opacity .3s;
}

.card-square-avatar {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.card-square:hover .card-square-info {
  top: 10px;
}

.card-square:hover .card-square-info p {
  opacity: 1;
  transition: opacity 1s;
}

.card-square:hover .card-square-image {
  opacity: 0.5;
  transition: .5s;
}

.card-square:hover {
  box-shadow: 0px 1px 1px 0px $green;
}

.card-square-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}
