.carousel-control {
  background-image: none !important;
  opacity: 1 !important;
}

.card-carousel {
  display: flex;
  justify-content: space-around;
  img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: flex !important;
  align-items: center !important;
}
}
