.radio-select{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  &:hover{
    cursor: pointer;
  }
  &.active{
    background: $gunmetal;
    display: block;
    position: absolute;
    border-radius: 100%;
    margin: auto;
  }
  &:focus{
    outline: none;
  }
  // z-index: 5;
}

.whatever{
  background: green;
  padding: 20px
}
