.newsletter-fields {
border-style: none;
background-color: $gray-medium;
color: $gray-dark;
font-weight: 300;
min-width: 20%;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 0px;
margin-left: 10px;
padding: 8px 12px;
}

.btn-newsletter {
min-width: 20%;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
padding: 8px 12px;
}
