.newsletter-fields {
  border-style: none;
  background-color: $gray-medium;
  color: $gunmetal;
  font-weight: 300;
  margin: 10px auto;
  padding: 8px 12px;
  width: 100%;
}

.newsletter-fields:focus {
  outline-color: transparent;
  outline-style: none;
}

.btn-newsletter {
  margin: 10px auto;
  color: $gunmetal;
  width: 100%;
}

.btn-newsletter:focus {
  outline-color: transparent;
  outline-style: none;
}

.btn-newsletter:hover {
  opacity: 1;
  transition: .3s;
}
