.tabs {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: flex-end;
}

.tabs a {
  color: white;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab {
  background: $gray-light;
  flex: 0 0 20%;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  overflow: hidden;
}

.tab:first-child {
  border-radius: 2px 0 0 0;
}

.tab:last-child {
  border-radius: 0 2px 0 0;
}

.tab.active {
  background: $brand-color;
  color: $gunmetal;
  text-decoration:none;
  h3 {
    opacity: 1;
  }
}

.tabcontent {
    -webkit-animation: fadeEffect 1.5s;
    animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
    display: none;
}

.tabcontent:nth-of-type(1){
  display:block;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
