/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// all body is shifted down 45px to avoid fixed navbar to cover items

body {
  margin-top: 45px;
}

// --
