/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// all body is shifted down 45px to avoid fixed navbar to cover items

body {

  margin-top: 115px;
  color: black;

  p, td{
    font-weight: 100;
  }

  h1, h2, h3, h4, h5,h6, th{
    font-weight: 200;
  }

  .btn-primary{
    color: black;
  }

}

// --
