<div id="countdown">
  <div id='tiles'></div>
  <div class="labels">
    <li>Days</li>
    <li>Hours</li>
    <li>Mins</li>
    <li>Secs</li>
  </div>
</div>

<script>
var target_date = new Date("<%= @livestream.hour_of_stream%>"); // set the countdown date
console.log(target_date);
var days, hours, minutes, seconds; // variables for time units

var countdown = document.getElementById("tiles"); // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){

  // find the amount of "seconds" between now and target
  var current_date = new Date();
  console.log(current_date);
  var seconds_left = (target_date.getTime() - current_date.getTime()) / 1000;

  days = pad( Math.max(0, parseInt(seconds_left / 86400) || 0));
  seconds_left = seconds_left % 86400;

  hours = pad( Math.max(0, parseInt(seconds_left / 3600) || 0));
  seconds_left = seconds_left % 3600;

  minutes = pad( Math.max(0, parseInt(seconds_left / 60) || 0));
  seconds = pad( Math.max(0, parseInt( seconds_left % 60) || 0));

  // format countdown string + set tag value
  countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";

}



function pad(n) {
  return (n < 10 ? '0' : '') + n;
}
</script>
