<div class="controls player-menu livestream-controls">
  <% if current_user == @livestream.user %>
  <div id="controls">
    <div id="preview">
      <!-- <div id="local-media"></div> -->
      <button class="btn-primary btn hidden" id="button-preview">Preview My Camera</button>
    </div>
    <div id="room-controls">
      <!-- <p class="instructions">Room Name:</p> -->
      <!-- <input id="room-name" type="text-area" placeholder="Enter a room name" /> -->
      <%#= if current_user == @livestream.user %>
      <%= link_to "Start stream" ,flop_start_livestream_path(@livestream), class: "btn btn-primary", id: "button-join" %>

      <!-- <button class="btn-primary btn" id="button-join">Start stream</button> -->
    </div>
    <div id="log">
    </div>
  </div>

  <% elsif current_user.tickets.where(livestream: @livestream).any? %>
    <span id="ticket-bought">Ticket Bought</span>
    <!-- <p class="instructions">Room Name:</p> -->
    <!-- <input id="room-name" type="text-area" placeholder="Enter a room name" /> -->
    <!-- <button class="hidden-buttons" id="button-join" id="button-join">Join Room</button>
    <button  class="hidden-buttons" id="button-leave" id="button-leave">Leave Room</button> -->
  <% elsif (@livestream.tickets_available - @livestream.tickets_sold) > 0 %>
    <%= render 'shared/buy_ticket' %>
  <% else %>
    <p id="tickets-sold-out">Sold out</p>
  <% end %>
</div>
