<div class="video-message" style="display: flex; align-items: center; justify-content: center; background: linear-gradient(-225deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.5) 90%), url(<%= cl_image_path @livestream.main_picture.path %>); background-size: cover; background-position: center;">

  <div class="video-buttons-inside" style="display: inline;">
    <div class="countdown-title" style="box-sizing: content-box;">
      <div class="video-title">
      <h2><%= @livestream.title %></h2>
      </div>
      <% if @livestream.hour_of_stream.future? %>
      <%= render 'livestreams/countdown' %>
      <% else %>
      <p>Your livestream should start soon</p>
      <% end %>
    </div>
    <%= render 'livestreams/video_button_join' %>
  </div>
</div>
