
<h3 id="livestream-show-page-title"><%= current_user.email %> - <%= @livestream.category %></h3>

<div class="mid-screen-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-7">
        <div class="video-container">
          <p>This is the video div</p>
        </div>
      </div>

        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-0">
          <div class="chat-container">
            <p> This is the chat</p>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- this col is the profile -->
    <div class="col-xs-12 col-md-8">
      <div class="profile-wrapper">
        <!-- now we nest another bootstrap grid so that we can have a responsive profile layout -->
        <div class="row">
          <!-- Below is the avatar div -->
          <div class="col-xs-12 col-sm-12   col-md-4">
            <div class="profile-avatar">
              <p style="color:black;">This is the avatar image</p>
            </div>
          </div>
          <!-- Below is the about user div-->   <div class="col-xs-12 col-sm-12  col-md-8">
            <div class="profile-about">
              About Sonya
              <table summary="prix des fruits en euros">
                <tr>
                  <th>My favourite restaurant</th>
                  <td class="profile-favourite-table-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi similique quia non. Maiores quas expedita non enim nulla aperiam distinctio magnam, sit sapiente, facere sint cupiditate id ullam ducimus!</td>
                </tr>
                <tr>
                  <th>My favourite television show</th>
                  <td class="profile-favourite-table-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta sit sequi eos et quae. Dolore hic saepe enim ab ratione, sunt dicta atque tenetur doloremque. Reprehenderit non sunt, libero?</td>
                </tr>
                <tr>
                  <th>My favourite eyeliner</th>
                  <td class="profile-favourite-table-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, tempore, quis. Itaque tempore temporibus natus, atque eius impedit placeat consectetur possimus tenetur cupiditate, laudantium, est ea! Facere accusantium numquam ea.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="profile-wrapper">
        <p>this is where the calendar will be</p>
      </div>
      <div class="profile-wrapper">
        <div class="future-livestreams-card">
          <h4 class="future-livestreams-card-title">My New Wardrobe</h4>
        </div>
      </div>
    </div>

  </div>
</div>
