<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="full-screen-container">
        <p>This is the video div</p>
      </div>
    </div>
    <div style="border: 2px solid black; background: grey;" class="col-xs-12 col-sm-4">
    <div class="full-screen-container">
      <p> This Is the chat</p>
      </div>
    </div>
  </div>
</div>
