.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.profile-avatar {
  height: 200px;
  width:200px;
  background: $gray-dark;
}

.profile-avatar-circle {
  height: 200px;
  width:200px;
  border-radius: 50%;
  background: $gray-dark;
}

.modal li {
border-top: 2px;
color:$gunmetal
}


li {
border-top: 2px;
color:$gunmetal
}
