.btn-subscribe{
  width: 120px;
  margin-left: 170px;
  margin-top: -46px;
  background-color: $brand-color;
  padding: 0px;
}

.btn-unsubscribe{
  width: 120px;
  margin-left: 165px;
  margin-top: -46px;
  padding: 0px;
}

#button-join{
  margin-top: 27px;
  width: 36px;
  height: 32px;
  background-color: #B7FFD4;
  border-radius: 10px;
  border: none;
}

#button-leave {
  margin-left: 100px;
  margin-top: 27px;
  width: 36px;
  height: 32px;
  background-color: #B7FFD4;
  border-radius: 10px;
  border: none;
}

#button-preview{
  margin-top: 27px;
  width: 36px;
  height: 32px;
  background-color: #B7FFD4;
  border-radius: 10px;
  border: none;
}
.btn-float-left {
  float: left;
  height: 15px;
  margin-left: 10px;
  text-align: center;
  border-radius: 4px;
}

.btn-float-left:hover {
  float: left;
  // height: 10px;
  // margin-left: 10px;
  text-align: center;
  color: $blue;
}

.hidden-buttons{
  display: none;
}

@media (max-width: 1199px) {
  .btn-float-left {
    float: left ;
    margin-left: 168px;
  }

}

@media (max-width: 644px) {
  .btn-float-left {
    float: left ;
    margin-left: 5px;
  }
}
