.btn-subscribe{
  width: 120px;
  float: right;
  background-color: $brand-color;
  padding: 0px;
}

.btn-unsubscribe{
  width: 120px;
  float: right;
  padding: 0px;
}

#controls{
  width: 40%
}

#button-join{
  background-color: #FECE84;
  border: none;
  width: 100%;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
}

#button-leave {
  opacity: 0.4;
  background-color: #E0FFEF;
  border: none;
  position: absolute;
  top: 0px;
  left: 15px;
  color: #AE2626;
}


#button-preview{
  background-color: $green;
  border: none;
}
.btn-float-left {
  float: left;
  height: 15px;
  margin-left: 10px;
  text-align: center;
  border-radius: 4px;
}

.btn-float-left:hover {
  float: left;
  // height: 10px;
  // margin-left: 10px;
  text-align: center;
  color: $blue;
}

.hidden-buttons{
  display: none ;
}

@media (max-width: 1199px) {
  .btn-float-left {
    float: left ;
    margin-left: 168px;
  }

}

@media (max-width: 644px) {
  .btn-float-left {
    float: left ;
    margin-left: 5px;
  }
}
