

// .card {
//   height: 240px;

//   background-size: cover !important;
//   color: black;
//   position: relative;
//   margin-top: 10px;
// }
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;

}
.card-description h2 {
  font-size: 24px;
  margin-bottom: 23px;
  margin-top: -10px;
}
.card-description p {
  font-size: 13px;
  margin-left: 3px;
  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
  background-color: transparent;

  transition: ease-in-out, opacity .5s ease-in-out;
}

.card-category-position{
    position: absolute;
    top: 5px;
    right: 12px;
    background-color: $green;
    opacity: 0.6;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: -6px;
}

.card-category-position-odd{
  position: absolute;
  bottom: -5px;
  left: 250px;
}
// specific for search index


.card-container{
  position: relative;
  justify-content: center;
  height: 400px !important;
  margin: 30px 20px;
}

.card-wrapper{
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 240px;
  width: 100%;
  background-color: $gray-light;
  z-index: 1;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.25);
  border-bottom: 2px solid $white;
}


.card-photo{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  width: 43%;
  height: 380px;
  z-index: 2;
  background-size: cover;
  // box-shadow: 2px 4px 16px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 5px gray;
  img {
    z-index: 3;
    width: 50px;
    margin: 10px 10px;
    };
}




.card-wrapper-description{
  position: absolute;
  top: 20px;
  right: 10px;
  color: $gunmetal;
  padding-left: 45%;
  h2{
    margin-right: 5%;
    font-size: 33px;
  };
}


.card-wrapper-social{
  border-radius: 5px;
  position: absolute;
  top: 240px;
  left: 43%;
  height: 30px;
  padding-left: 57%;
  background-color: $gray-light;
  border-top: 1px solid white;
  z-index: 1;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.25);
}

.card-wrapper-social-description{
  position: absolute;
  top: 0px;
  left: 42px;
  color: $gunmetal;
  padding-right: 10px;
  padding-top: 5px;
  ul li:first-child {
    font-size: 15px;
    margin-left: -7px;
  };
  img {
    width: 15px;
    margin-right: 8px;
  };
}

@media (max-width: 992px) {
  .card-wrapper-social-description{
    position: absolute;
    top: 0px;
    left: 42px;
    color: $gunmetal;
    padding-right: 10px;
    padding-top: 5px;
    ul li {
      font-size: 15px;
    };
    img {
      width: 15px;
      margin-right: 4px;
    };
  }

}

.live-time{
  color: $gunmetal;
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: inset 0px -10px $green;
  font-size: 20px;
}

// for odd results in the search

.card-photo-odd{
  float: left;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 43%;
  height: 380px;
  z-index: 2;
  background-size: cover;
  // box-shadow: 2px 4px 16px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 5px gray;
  img {
    z-index: 3;
    width: 50px;
    margin: 10px 10px;
    };
}

.live-time-odd{
  color: $gunmetal;
  position: absolute;
  bottom: 5px;
  left: 15px;
  box-shadow: inset 0px -10px $green;
  font-size: 20px;
}

.card-wrapper-description-odd{
  position: absolute;
  top: 20px;
  right: 10px;
  color: $gunmetal;
  padding-right: 45%;
  h2{
    padding-right: 5%;
    font-size: 33px;
  };
}


.card-wrapper-social-odd{
  border-radius: 5px;
  position: absolute;
  top: 240px;
  right: 43%;
  height: 30px;
  padding-right: 57%;
  background-color: $gray-light;
  border-top: 1px solid white;
  z-index: 1;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.25);
}

.card-wrapper-social-description-odd{
  position: absolute;
  top: 0px;
  left: 42px;
  color: $gunmetal;
  padding-right: 10px;
  padding-top: 5px;
  ul li {
    font-size: 15px;
  };

  ul li:first-child{
    font-size: 15px;
    margin-left: -34px;
  };
  img {
    width: 15px;
    margin-right: 8px;
  };
}



.card-mobile {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: $white;
  position: relative;
  margin-top: 10px;
  h2{
    margin: 5px;
    text-align: bottom;
    color: white;
  };
}

.live-time-mobile{
  font-size: 25px;
  color: $white;
  position: absolute;
  top: -20px;
  left: 5px;
  box-shadow: inset 0px -10px $green;
}

.card-index-avatar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 6;
}

.card-index-avatar-odd {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 6;
}
