.full-screen-container {
  min-height: calc(100vh - 70px);
  background-color: gray;
  border: 1px solid black;
}

.mid-screen-wrapper {
  position: relative;
  background: #F8F6F6;
  min-height: calc(50vh);
  margin-top: 20px;
  padding: 20px;
}

#livestream-show-page-title{
  margin-left: 60px;
  margin-top: 40px
}

.video-container {
  background: black;
  height: 349px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.chat-container {
  border: 2px solid black;
  height: 349px;
 }

 @media (max-width: 1199px) {
    .chat-container {
      border: 2px solid black;
      height: 349px;
      margin-top: 20px;
     }
 }

 .profile-about {
    background-color: $gray-medium;
    padding-left: 5px;
  }

 @media (max-width: 690px) {
  .video-container {
    background: black;
    height: 349px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
 }

 @media (max-width: 991px) {
  .profile-about {
    padding-top: 20px;
    background-color: $gray-medium;
  }
 }

.profile-wrapper {
  margin-top: 40px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $gray-light;
  padding: 20px;
}

.profile-avatar {
  height: 180px;
  width:180px;

  background: $gray-dark;
}

.profile-favourite-table-answer {
  padding-top: 40px;
  padding-left: 20px;
}

.future-livestreams-card{
  position: relative;
  border: 1px solid white;
  height: 100px;
}

.future-livestreams-card-title{
  margin-top: 5px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.future-livestreams-card-time {
  margin-top: 5px;
  position: absolute;
  top: 20px;
  left: 5px;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
}

.future-livestreams-card-seats{
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.future-livestreams-card-book-button{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
// CSS for the table on profile page where theire favourite things are listed





