 .full-screen-container {
  min-height: calc(100vh - 70px);
  background-color: gray;
  border: 1px solid black;
}

.mid-screen-wrapper {
  position: relative;
  min-height: calc(50vh);
  padding: 20px 20px 0px 20px;
  border-radius: 2px;
}

.border-info {
  margin-left: 10px;
}

.border-bottom{
  border-bottom: 1px solid $gray-dark;
}

#livestream-show-page-title{
  margin-left: 24px;
  margin-top: 0px;
  z-index: 2;
  position: relative;
}

#title-controls-container{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px !important;
}

.livestream-show-page-title{
  margin-left: 4px;
  z-index: 2;
  position: relative;
  margin-top: 0px;
}

.title-controls-container{
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
 .profile-about {
    margin-top: 10px;
    padding: 15px;
  }

 @media (max-width: 991px) {
  .profile-about {
    padding: 20px;
    background-color: $gray-medium;
  }
  .profile-avatar {
    height: 200px;
    width:200px;
    background: $gray-dark;
    margin: auto;
  }
 }

.profile-wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $gray-light;
  padding: 20px;
}

.profile-favourite-table-answer {
  padding-top: 40px;
  padding-left: 20px;
}

.future-livestreams-card{
  position: relative;
  border: 1px solid white;
  height: 70px;
}

#saffron-background{
  background-color: #F8C431;
}

.future-livestreams-card-title{
  margin-top: 5px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.future-livestreams-card-time {
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  bottom: -1px;
  left: 5px;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
}

.future-livestreams-card-seats{
  position: absolute;
  top: 5px;
  right: -15px;
  margin-top: -51px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #FECE84;
}

.future-livestreams-card-book-button{
  position: absolute;
  bottom: -15px;
  right: -18px;
}

.future-livestreams-card-ticket-price{
  position: absolute;
  top: -28px;
  left: 6px;
  font-size: 11px;
  color: #FF6464;
}

.future-livestreams-card-ticket-price img{
  margin-bottom: 3px;
}

.black-photo-gallery-wrapper {
  margin-top: 30px;
  background-color: $gunmetal;

  border-radius: 5px;
  padding: 10px;

}

.black-photo-gallery-wrapper img {
  margin: 10px;
}

.bottom-margin{
  margin-bottom: 10px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-35{
  margin-bottom: 35px;
}
// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
// css for leaderboard

mark {
  position: absolute;
  right: 80px;

  background-color: $gray-light;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
}

small {
  position: absolute;
  right: 30px;
}

.leaderboard-list li {
  margin-bottom: 10px;
}

// CSS for dashboard

.dashboard-wrapper {
  margin-top: 220px;
  background-color: $white;
  min-height: 600px;
  border-radius: 5px;
  margin:60px;
  color:$gray-light;
}

.black {
background-color:$gunmetal;
}

.card-dashboard {
  margin-top:100px;
  margin-bottom:100px;
}

.overflow{
  overflow-y:scroll;
  -webkit-scrollbar-color: black;
}

.dashboard-wrapper-grey-left{
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  background-color: $gray-light;
  color: $gunmetal;
  // border: 1px solid $gray-dark;
  .form-control {
    color: $gunmetal;
    box-sizing: content-box;
    background-color: $white;
    width: 60%;
    border: 1px solid $gray-dark;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
  };
  textarea.form-control {
    width: 70% !important;
    padding-bottom: 20px !important;
  };
}

.dashboard-wrapper-grey-right{
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  background-color: $gray-light;
  color: $gunmetal;
  // border: 1px solid $gray-dark;
  .form-control {
    color: $gunmetal;
    box-sizing: content-box;
    background-color: $white;
    width: 30%;
    border: 1px solid $gray-dark;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
  };
  textarea.form-control {
    width: 70% !important;
    padding-bottom: 20px !important;
  };
}

.pre-livestream-title {
  margin-top: 70px;
}

video {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  // border: 3px solid $green;
  border-radius: 3px;
}
