 .full-screen-container {
  min-height: calc(100vh - 70px);
  background-color: gray;
  border: 1px solid black;
}

.mid-screen-wrapper {
  position: relative;
  background: #F8F6F6;
  min-height: calc(50vh);
  margin-top: 20px;
  padding: 20px;
}

#livestream-show-page-title{
  margin-left: 60px;
  margin-top: 40px
}

.video-container {
  // background: black;
  height: 349px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.chat-container {
  height: 349px;
 }

 @media (max-width: 1199px) {
    .chat-container {
      height: 349px;
      margin-top: 20px;
     }
 }

 .profile-about {
    background-color: $gray-medium;
    padding: 15px;
  }

 @media (max-width: 690px) {
  .video-container {
    background: black;
    height: 349px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
 }

 @media (max-width: 991px) {
  .profile-about {
    padding: 20px;
    background-color: $gray-medium;
  }
  .profile-avatar {
  height: 200px;
  width:200px;
  background: $gray-dark;
  margin: auto;
}
 }

.profile-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $gray-light;
  padding: 20px;
}

.profile-favourite-table-answer {
  padding-top: 40px;
  padding-left: 20px;
}

.future-livestreams-card{
  position: relative;
  border: 1px solid white;
  height: 70px;
}

.future-livestreams-card-title{
  margin-top: 5px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.future-livestreams-card-time {
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
}

.future-livestreams-card-seats{
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.future-livestreams-card-book-button{
  position: absolute;
  bottom: -10px;
  right: -5px;
}

.black-photo-gallery-wrapper {
  margin-top: 30px;
  background-color: $gunmetal;
  min-height: 600px;
  border-radius: 5px;
}

.bottom-margin{
  margin-bottom: 10px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}
// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
// css for leaderboard

mark {
  position: absolute;
  right: 80px;

  background-color: $gray-light;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
  box-shadow: inset 0px -5px 0px 0px rgba(183,255,212,1);
}

small {
  position: absolute;
  right: 30px;
}

.leaderboard-list li {
  margin-bottom: 10px;
}

// CSS for dashboard

.dashboard-wrapper {
  margin-top: 220px;
  background-color: $gunmetal;
  min-height: 600px;
  border-radius: 5px;
  margin:60px;
  color: $white;
}

.dashboard-wrapper-grey-left{
  border-radius: 5px;
  margin: 20px 0px 20px 20px;
  padding: 10px;
  background-color: $gray-light;
  color: $gunmetal;
  .form-control {
    color: $gunmetal;
    box-sizing: content-box;
    background-color: $white;
    width: 60%;
    border: 1px solid $gray-dark;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
  };
  textarea.form-control {
    width: 70% !important;
    padding-bottom: 20px !important;
  };
}

.dashboard-wrapper-grey-right{
  border-radius: 5px;
  margin: 20px 20px 20px 0px;
  padding: 10px;
  background-color: $gray-light;
  color: $gunmetal;
  .form-control {
    color: $gunmetal;
    box-sizing: content-box;
    background-color: $white;
    width: 30%;
    border: 1px solid $gray-dark;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
  };
  textarea.form-control {
    width: 70% !important;
    padding-bottom: 20px !important;
  };
}
