#messages {
  min-height: 361px;
  max-height: 376px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.send-message-btn {
  margin-top: 18px;
  border-radius: 3px;
  height: 34px;
  background-color: transparent;
  margin-left: 7px;
}

.chat-container img {
  width:20px;
}

.better-message-design{
  // height: 40px;
  margin-left: -10px;

}

.text-input-better-css {
    max-width: 380px;
    max-height: 58px;
    float: left;
}

@media (max-width: 1199px) {
  #messages {
    min-height: 361px;
    max-height: 361px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
  }
}

@media (max-width: 524px) {
  .text-input-better-css {
    max-width: 260px;
    max-height: 58px;
    float: left;
  }
}

@media (max-width: 404px) {
  .text-input-better-css {
    max-width: 250px;
    max-height: 58px;
    float: left;
  }
}

// iphone 6

@media (max-width: 376px) {
  .text-input-better-css {
    max-width: 200px;
    max-height: 58px;
    float: left;
  }
}

// iphone 5

@media (max-width: 320px) {
  .text-input-better-css {
    max-width: 150px;
    max-height: 58px;
    float: left;
  }
}


// #message_area {
//   width: 100px;
//   height: 100px;
// }
