#messages {
  min-height: 361px;
  max-height: 361px;
  overflow-y: auto;
  overflow-x: hidden;
}

.send-message-btn {
  margin-top: 0px;

  height: 58px;

}

.better-message-design{
  // height: 40px;
  margin-left: -10px;

}

.text-input-better-css {
    max-width: 380px;
    max-height: 58px;
    float: left;
}

@media (max-width: 1199px) {
  #messages {
    min-height: 361px;
    max-height: 361px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $gray-medium;
    padding: 5px;

  }
}

@media (max-width: 524px) {
  .text-input-better-css {
    max-width: 260px;
    max-height: 58px;
    float: left;
  }
}

@media (max-width: 404px) {
  .text-input-better-css {
    max-width: 250px;
    max-height: 58px;
    float: left;
  }
}


// #message_area {
//   width: 100px;
//   height: 100px;
// }
