.video-box {
  height: 630px;
  overflow: hidden;

  .video-message {
    height: 100%;
  }

  #remote-media video {
    height: 340px;
    margin-left: 0px;
  }
}

@media (max-width: 506px) {
  #local-media video {
    height: 300px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 300px;
    margin-left: 0px;
  }
}

@media (max-width: 449px) {
  #local-media video {
    height: 250px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 250px;
    margin-left: 0px;
  }
}

#stream-time{
  // position: absolute;
  // top: 50%;
  // left: 50%;
}

.video-message {
  width: 100%;
  height: 100%;
}

.countdown-title {
  // background: rgba(255,255,255,0.7);
  width: 1200px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
  position: relative;
  margin-bottom: 20px;
}

.over-message {
  font: 20px;
  color: $gunmetal;
  padding: 40px;
}

