#log {
  display: none;
}


#local-media video {
  height: 434px;
}

#remote-media video {
  height: 434px;
}

@media (max-width: 1199px) {
  #local-media video {
    height: 462px;
    margin-left: 162px;
  }

  #remote-media video {
    height: 462px;
    margin-left: 162px;
  }
}

@media (max-width: 992px) {
  #local-media video {
    height: 400px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 400px;
    margin-left: 0px;
  }
}


@media (max-width: 671px) {
  #local-media video {
    height: 400px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 400px;
    margin-left: 0px;
  }
}

@media (max-width: 587px) {
  #local-media video {
    height: 340px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 340px;
    margin-left: 0px;
  }
}

@media (max-width: 506px) {
  #local-media video {
    height: 300px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 300px;
    margin-left: 0px;
  }
}

@media (max-width: 449px) {
  #local-media video {
    height: 250px;
    margin-left: 0px;
  }

  #remote-media video {
    height: 250px;
    margin-left: 0px;
  }
}

#stream-time{
  // position: absolute;
  // top: 50%;
  // left: 50%;

}

.video-message {
  width: 100%;
  height: 100%;
}

.countdown-number p {
  font-size: 50px;
  color: red;
}

.countdown-title {
  background: rgba(255,255,255,0.7);
  width: 1200px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
}
